body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  color: #333;
}
a, a:hover, a:active, a:visited {
  color: black;
}
h2 {
  font-weight: 300;
}
.App {
  text-align: center;
  margin: 0;
  padding: 0;
}
.App-content {
  min-height: 92vh;
  width: 100vw;
}

.init {
  min-height: 92vh;
}

.Admin-Page {
  padding-top: 75px;
  background: rgba(180,210,220,1);
  color: white;
}

/* --- TABLES -------------------------- */
.collection-table {
  width: 100%;
}
.collection-table ul {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}
.collection-table li {
  margin: 2px auto;
  padding-bottom: 10px;
  min-height: 100px;
  list-style: none;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #aaa;
}
.collection-table li h2 {
  color: blue;
  text-align: left;
  padding-top: 8px;
  padding-left: 20px;
  font-size: 1.5rem;
}
.collection-table h2 span {
  font-size: 1rem;
  color: black;
  font-style: italic;
}
.collection-table .ui.button {
  margin-bottom: .25em;
}
.collection-table li p {
  text-align: left;
  padding-left: 20px;
  font-size: 1rem;
}
.collection-table .item-card {
  background-color: rgba(220, 220, 220, 0.7);
}
.link {
  color: #ce641a;
  font-style: italic;
}

.modal {
  position: absolute;
  top: 20%;
  left: 10%;
  min-width: 80vw;
  min-height: 50vh;
  background-color: rgba(10,10,10,.9);
  border-radius: 1rem;
}
.modal h2 {
  color: white;
}

/* --- FORMS --------------------------- */
.custom-form .ui.message {
  width: 100%;
}
.custom-form .ui.form .fields {
  margin: 0 8px!important;
}
.custom-form .ui.form input:not([type]),
.custom-form .ui.form input[type=email],
.custom-form .ui.form input[type=password],
.custom-form .ui.selection.dropdown {
  border-radius: 2em;
  border: 1px solid #999;
}

.custom-form .ui.form input[type=text] {
  width: 70vw;
  border-radius: 2em;
  border: 1px solid #999;
}
.custom-form .ui.form .rect input {
  border-radius: .5em!important;
}
.oval-but .ui.button {
  padding-left: 1.5em!important;
  padding-right: 1.5em!important;
  border-radius: 1.7em!important;
}

/* ------ MISC: ------------------------ */
.padded {
  padding-left: 8px!important;
  padding-right: 8px!important;
}
.bottom-div {
  position: absolute;
  width: 100%;
  bottom: 0px;
}
.nopadd {
  padding: 0;
}
.nopadd.ui.grid>.row {
  padding-bottom: 0;
}
.nopadd.ui.celled.grid {
  margin: 0;
}
.extra-padded {
  padding-left: 38px!important;
  padding-right: 38px!important;
}
.margined {
  margin: 8px;
}
.full-width, .full-width .ui.input {
  width: 90vw;
}
.full-width .ui.input {
  padding-left: 15px;
}
p.left {
  text-align: left;
  padding-top: 12px;
  padding-left: 20px;
}
p.vintage {
  color: rgba(140,60,20,.9);
  margin-top: 12px;
  font-style: italic;
  font-size: 1.2em;
  border-top: 1px dashed rgba(140,60,20,.9)
}
p.short {
  margin-top: 14px;
  display: flex;
}
.short .ui.input,
.short .ui.selection.dropdown {
  width: 40vw;
  margin-top: -14px;
  margin-left: 20px;
}
.short .ui.selection.dropdown {
  max-width: 100px!important;
  min-width: 100px;
}
.central {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.top-15 {
  padding-top: 15px;
}
.topped {
  padding-top: 35px;
}
.dobletopped {
  padding-top: 25px;
}
.no-border {
  border-top: 0!important;
  border-bottom: 0!important;
  border-left: 0!important;
  border-right: 0!important;
}
.selected-row {
  background-color: #ece5d5;
}
.circle-div {
  margin: 0 auto;
  height: 85px;
  width: 85px;
  border: 8px solid #fff;
  border-radius: 50%;
  display: inline-block;
}
.circle-div h2 {
  padding-top: 27%;
  color: #aaa;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -- MEDIA ------------------------------ */
@media only screen and (min-width: 436px) {
  body {
    color: #666;
  }
  .ui.input {
    display: block;
  }
  .logo-still {
    display: block;
    position: relative;
    left: 1.5vw;
    margin: 0 auto;
  }
  .App-content {
    margin: 45px auto;
    max-width: 520px;
    min-height: 90vh;
    border: 8px solid white;
    border-radius: 24px;
  }
  .padded {
    padding-left: 16px;
    padding-right: 16px;
  }
  .central {
    margin: 0 auto;
    max-width: 400px;
  }
  .collection-table ul {
    width: 60%;
    margin: 0 auto;
    padding: 0;
  }
  .collection-table li {
    float:left;
    min-width: 48%;
    margin: 2px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
  }
}
